/* BODY AND GENERAL STYLING */

body {
    font-family: 'Lato', sans-serif;
    margin: 0!important;
    padding: 0!important;
}

/* HEADER AND NAVBAR */

.nav-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1.2rem;
    margin: 0px, 2rem;
    height: 100%;
    margin: 0 0.25rem;
}

.nav-link:hover {
    color: #000;
}

.nav-link::before {
    content: " ";
    display: block;
    position: absolute;
    border-bottom: solid 3px #ddd;
    bottom: 0px;
    width: 0%;
    left: 50%;
    margin: 0 auto;
    transition: all 0.5s;
    z-index: -1;
}

.nav-link:hover::before {
    border-bottom: solid 2px #0083a7;
    width: 100%;
    left: 0%;
}

.nav-link.two::before {
    left: 0%;
}

.navbar-brand img {
    display: inline;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-nav-collapse {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* FOOTER */

address {
    margin-left: 22px;
}

footer {
    background-color: #0083a7;
}

/* MODAL STYLING */

.donationLogo {
    width: 75%;
    height: auto;
    margin: 1rem auto;
}

.modal-body {
    text-align: center;
}

.modal-summary {
    margin: 3rem 2rem;
    text-align: justify;
}

#donationModal .modal-header {
    text-align: center;
    background: linear-gradient(-90deg, #0083a7, #6fa043)
}

#donationModal a {
    background-color: #0083a7;
}

/* INDEX MAIN CONTENT */

.home-photos {
    margin: 1rem auto 0rem auto;
    height: 75px;
    width: auto;
    max-width: 300px;
}

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url("../images/bosnia.jpg");
    z-index: -1;
}

.home-inner {
    background-image: url("../images/boat.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem #000000;
    padding-bottom: 1rem;
}

.jumbotron {
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 9rem 2rem 0 2rem;
    height: 100vh;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}

h3.heading-footer {
    font-size: 1.9rem;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 10rem;
    height: .2rem;
    background-color: #0083a7;
    margin: 2rem auto 2rem auto;
}

hr.socket {
    width: 100%;
    margin-top: 3rem;
    border-color: transparent;
}

.copyright {
    padding-bottom: 2rem;
}

/* SEARCH PAGE */

/* CARD STYLING */

.card-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}

#blog-container {
    margin-top: 2rem;
}

.blog-card:hover {
    transform: translateY(1.5rem);
    transition: 0.5s ease-in-out;
    /* animation: 2s ease forwards 0.9s; */
}

.company-card:hover {
    transform: translateY(-1.5rem);
    transition: 0.5s ease-in-out;
}

.tag {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    padding: 0.25rem .5rem 0.25rem .75rem;
    background: #0083a7;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: .05rem;
    width: 100%;
}

.tag:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.card-body {
    margin-top: 1rem;
}

.card-rule {
    border-top: 1px solid #0083a7;
}

.btn-primary {
    background-color: #0083a7!important
}

/* CONTACT PAGE */

.card-background {
    background-image: url("../images/image.jpg");
    object-fit: cover;
}

.contact-form-header {
    background-color: #0083a7;
}

.contact-form button {
    background-color: #0083a7;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax>.jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* NEWS PAGE */

#newsCarousel {
    width: 80%;
    margin: 2rem auto;
    height: 100%;
    overflow: hidden;
    min-width: 300px;
}

#newsCarousel img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 0.25rem;
}

.blog-highlight {
    margin: 2px 0px;
    height: 500px;
    overflow: auto;
}

.card-subtitle {
    font-size: 0.75rem;
    margin: 1rem 0rem;
}

#newsCarousel p {
    text-align: justify;
}

.navigation {
    font-size: 2rem;
    color: #0083a7;
}

#newsCarousel .carousel-control-next {
    right: 0;
    height: 10px;
    top: 50%;
}

#newsCarousel .carousel-control-prev {
    right: 0;
    height: 10px;
    top: 50%;
}

/* ABOUT ME PAGE */

.title-text {
    color: #6c757d;
    font-style: italic;
    font-size: .9rem;
}

.board-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: -10px;
    border-radius: 0.25rem;
}

.mask {
    border-radius: 0.25rem;
}

.board-image-card {
    width: 100%;
}

.image-container {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -260px;
}

.board-card {
    position: relative;
    margin-top: 11rem;
}

.view img {
    margin: 0rem auto 0rem auto;
}

.email a {
    color: black;
}

/* CONTACT PAGE */

iframe {
    height: 100%;
    width: 100%;
}

.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* CONTACT PAGE */

.carousel {
    height: 50%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 515px;
    width: 100%;
    border-radius: 0.25rem;
    border: solid 1px #0083a7;
}

.gmap_canvas {
    overflow: hidden;
    /* background: none !important; */
    height: 513px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.25rem;
}

/* ROM PAGE */

.card-text {
    line-height: 1.5rem;
}

.heading {
    padding: 3rem 1rem 0rem 1rem;
}

.message p {
    padding: 0.25rem 0.25rem;
    line-height: 1.7rem;
    text-align: justify;
}

.image-gallery {
    margin: 0;
    padding: 0;
}

.image-gallery a {
    margin: 1rem auto;
    text-align: center;
}

.image-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.image-gallery img:hover {
    transform: translateY(0.25rem);
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.signature {
    width: 100%;
    max-width: 300px;
    margin: 2rem 0rem;
}

/* EDI PAGE */

/* MEDIA QUERIES */

@media (min-width: 576px) {
    .signature {
        margin: 2rem;
    }
    .message p {
        padding: 0.25rem 0.5rem;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .message p {
        padding: 0.25rem 2rem;
    }
    .image-gallery img {
        height: 300px;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}