/* BODY AND GENERAL STYLING */

.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

/* HEADER AND NAVBAR */

.background {
    height: 180vh;
    background: linear-gradient(#95afc0, #c7ecee);
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #888;
    position: relative;
    transition: all 0.5s;
    font-size: 1.5rem;
    margin: 0px, 2rem;
    height: 100%;
}

.nav-link:hover {
    color: #000;
}

.nav-link::before {
    content: " ";
    display: block;
    position: absolute;
    border-bottom: solid 3px #ddd;
    bottom: 0px;
    width: 0%;
    left: 50%;
    margin: 0 auto;
    transition: all 0.5s;
    z-index: -1;
}

.nav-link:hover::before {
    border-bottom: solid 2px #236d7c;
    width: 100%;
    left: 0%;
}

.nav-link.two::before {
    left: 0%;
}

.navbar-brand img {
    display: inline;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-nav-collapse {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* INDEX MAIN CONTENT */

.home-photos {
    margin: 1rem auto 0rem auto;
}

.card img {
    max-width: 300px;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- iOS Fixed Background Image --*/

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

body {
    padding: 0!important;
    font-family: 'Lato', sans-serif;
}

.home-inner {
    background-image: url("../images/boat.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem #000000;
    padding-bottom: 1rem;
}

.jumbotron {
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 9rem 2rem 0 2rem;
    height: 100vh;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    color: #236d7c;
}

h3.heading-footer {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    color: #fff;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #236d7c;
    margin: 0 auto 2rem;
}

.fa-3x {
    color: #FFA92C;
    padding: 1.4rem 0rem;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 1.4rem;
}

.feature p {
    font-size: 1rem;
}

.feature-text {
    padding: 0rem 15%;
}

.fixed {
    background-image: url("../images/church.jpg");
    z-index: -1;
}

.contact {
    text-shadow: .1rem .1rem .5rem #000000;
}

hr.socket {
    width: 100%;
    margin-top: 3rem;
    border-color: transparent;
}

.copyright {
    padding-bottom: 2rem;
}

/* SEARCH PAGE */

/* CARD STYLING */

.card-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}

#blog-container {
    margin-top: 6rem;
}

.blog-card:hover {
    transform: translateY(1.5rem);
    transition: 0.5s ease-in-out;
    /* animation: 2s ease forwards 0.9s; */
}

.company-card:hover {
    transform: translateY(-1.5rem);
    transition: 0.5s ease-in-out;
}

.tag {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    padding: 0.25rem .5rem 0.25rem .75rem;
    background: #236d7c;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: .05rem;
    width: 100%;
}

.tag:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}

.card-body {
    margin-top: 1rem;
}

.card-rule {
    border-top: 1px solid #11697c;
}

.btn-primary {
    background-color: #11697c!important
}

/* CONTACT PAGE */

.card-background {
    background-image: url("../images/image.jpg");
    object-fit: cover;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax>.jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* MAP OBJECT */

.mapouter {
    position: relative;
    text-align: right;
    height: 600px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 500px;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
    .caption h1 {
        display: none;
    }
    .caption h2 {
        display: contents;
        font-family: 'Pacifico', cursive;
        text-transform: capitalize;
        font-size: 4.2rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.4rem;
        padding-top: 2rem;
        padding-bottom: 1.6rem;
        text-shadow: none;
    }
}